# Bank Loan Analysis

### Project Summary

#### GitHub Link: https://github.com/1002Sam/Bank-Loan-Analysis

### Problem Statement

# Let's Begin

##### Importing Libraries

In [11]:
# Import Libraries
import pandas as pd
import numpy as np
from datetime import datetime as dt


# Import Visualization Libraries
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

##### Dataset Loading

In [14]:
# Load Dataset
url1 = 'https://raw.githubusercontent.com/1002Sam/Bank-Loan-Analysis/master/previous_application.csv'
df1 = pd.read_csv(url1)

url2 = 'https://raw.githubusercontent.com/1002Sam/Bank-Loan-Analysis/master/application_data.csv'
df2 = pd.read_csv(url2)

##### Dataset Firstview

In [23]:
print(df1.shape, '\n')
#print()  # Adding a line space
df1.head()

(49999, 37)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
print(df2.shape)
print()  # Adding a line space
df2.head()

(49999, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

##### Dataset Information

In [27]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   SK_ID_PREV                   49999 non-null  int64
 1   SK_ID_CURR                   49999 non-null  int64
 2   NAME_CONTRACT_TYPE           49999 non-null  object
 3   AMT_ANNUITY                  39407 non-null  float64
 4   AMT_APPLICATION              49999 non-null  float64
 5   AMT_CREDIT                   49999 non-null  float64
 6   AMT_DOWN_PAYMENT             24801 non-null  float64
 7   AMT_GOODS_PRICE              39255 non-null  float64
 8   WEEKDAY_APPR_PROCESS_START   49999 non-null  object
 9   HOUR_APPR_PROCESS_START      49999 non-null  int64
 10  FLAG_LAST_APPL_PER_CONTRACT  49999 non-null  object
 11  NFLAG_LAST_APPL_IN_DAY       49999 non-null  int64
 12  RATE_DOWN_PAYMENT            24801 non-null  float64
 13  RATE_INTEREST_PRIMARY        165 non-null    float64
 14  RATE_INTEREST_PRIVILEGED     165 non-null    float64
 15  NAME_CASH_LOAN_PURPOSE       49999 non-null  object
 16  NAME_CONTRACT_STATUS         49999 non-null  object
 17  DAYS_DECISION                49999 non-null  int64
 18  NAME_PAYMENT_TYPE            49999 non-null  object
 19  CODE_REJECT_REASON           49999 non-null  object
 20  NAME_TYPE_SUITE              25756 non-null  object
 21  NAME_CLIENT_TYPE             49999 non-null  object
 22  NAME_GOODS_CATEGORY          49999 non-null  object
 23  NAME_PORTFOLIO               49999 non-null  object
 24  NAME_PRODUCT_TYPE            49999 non-null  object
 25  CHANNEL_TYPE                 49999 non-null  object
 26  SELLERPLACE_AREA             49999 non-null  int64
 27  NAME_SELLER_INDUSTRY         49999 non-null  object
 28  CNT_PAYMENT                  39407 non-null  float64
 29  NAME_YIELD_GROUP             49999 non-null  object
 30  PRODUCT_COMBINATION          49991 non-null  object
 31  DAYS_FIRST_DRAWING           30839 non-null  float64
 32  DAYS_FIRST_DUE               30839 non-null  float64
 33  DAYS_LAST_DUE_1ST_VERSION    30839 non-null  float64
 34  DAYS_LAST_DUE                30839 non-null  float64
 35  DAYS_TERMINATION             30839 non-null  float64
 36  NFLAG_INSURED_ON_APPROVAL    30839 non-null  float64
dtypes: float64(15), int64(6), object(16)
memory usage: 14.1+ MB

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49999 entries, 0 to 49998
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(64), int64(42), object(16)
memory usage: 46.5+ MB

##### Checking Duplicate Values

In [41]:
print('Duplicate values in Previous Application Data', df1.duplicated().sum(), '\n')

print('Duplicate values in Application Data', df2.duplicated().sum())

Duplicate values in Previous Application Data 0

Duplicate values in Application Data 0

##### Looking for Null/NaN Values

In [35]:
df1.isnull().sum()

SK_ID_PREV                         0
SK_ID_CURR                         0
NAME_CONTRACT_TYPE                 0
AMT_ANNUITY                    10592
AMT_APPLICATION                    0
AMT_CREDIT                         0
AMT_DOWN_PAYMENT               25198
AMT_GOODS_PRICE                10744
WEEKDAY_APPR_PROCESS_START         0
HOUR_APPR_PROCESS_START            0
FLAG_LAST_APPL_PER_CONTRACT        0
NFLAG_LAST_APPL_IN_DAY             0
RATE_DOWN_PAYMENT              25198
RATE_INTEREST_PRIMARY          49834
RATE_INTEREST_PRIVILEGED       49834
NAME_CASH_LOAN_PURPOSE             0
NAME_CONTRACT_STATUS               0
DAYS_DECISION                      0
NAME_PAYMENT_TYPE                  0
CODE_REJECT_REASON                 0
NAME_TYPE_SUITE                24243
NAME_CLIENT_TYPE                   0
NAME_GOODS_CATEGORY                0
NAME_PORTFOLIO                     0
NAME_PRODUCT_TYPE                  0
CHANNEL_TYPE                       0
SELLERPLACE_AREA                   0
NAME_SELLER_INDUSTRY               0
CNT_PAYMENT                    10592
NAME_YIELD_GROUP                   0
PRODUCT_COMBINATION                8
DAYS_FIRST_DRAWING             19160
DAYS_FIRST_DUE                 19160
DAYS_LAST_DUE_1ST_VERSION      19160
DAYS_LAST_DUE                  19160
DAYS_TERMINATION               19160
NFLAG_INSURED_ON_APPROVAL      19160
dtype: int64

In [37]:
for i in df2.columns:
  missing_values = df2[i].isna().sum()
  print(f'Missing value/s in {i} = {missing_values}')

Missing value/s in SK_ID_CURR = 0
Missing value/s in TARGET = 0
Missing value/s in NAME_CONTRACT_TYPE = 0
Missing value/s in CODE_GENDER = 0
Missing value/s in FLAG_OWN_CAR = 0
Missing value/s in FLAG_OWN_REALTY = 0
Missing value/s in CNT_CHILDREN = 0
Missing value/s in AMT_INCOME_TOTAL = 0
Missing value/s in AMT_CREDIT = 0
Missing value/s in AMT_ANNUITY = 1
Missing value/s in AMT_GOODS_PRICE = 38
Missing value/s in NAME_TYPE_SUITE = 192
Missing value/s in NAME_INCOME_TYPE = 0
Missing value/s in NAME_EDUCATION_TYPE = 0
Missing value/s in NAME_FAMILY_STATUS = 0
Missing value/s in NAME_HOUSING_TYPE = 0
Missing value/s in REGION_POPULATION_RELATIVE = 0
Missing value/s in DAYS_BIRTH = 0
Missing value/s in DAYS_EMPLOYED = 0
Missing value/s in DAYS_REGISTRATION = 0
Missing value/s in DAYS_ID_PUBLISH = 0
Missing value/s in OWN_CAR_AGE = 32950
Missing value/s in FLAG_MOBIL = 0
Missing value/s in FLAG_EMP_PHONE = 0
Missing value/s in FLAG_WORK_PHONE = 0
Missing value/s in FLAG_CONT_MOBILE = 0
Missing value/s in FLAG_PHONE = 0
Missing value/s in FLAG_EMAIL = 0
Missing value/s in OCCUPATION_TYPE = 15654
Missing value/s in CNT_FAM_MEMBERS = 1
Missing value/s in REGION_RATING_CLIENT = 0
Missing value/s in REGION_RATING_CLIENT_W_CITY = 0
Missing value/s in WEEKDAY_APPR_PROCESS_START = 0
Missing value/s in HOUR_APPR_PROCESS_START = 0
Missing value/s in REG_REGION_NOT_LIVE_REGION = 0
Missing value/s in REG_REGION_NOT_WORK_REGION = 0
Missing value/s in LIVE_REGION_NOT_WORK_REGION = 0
Missing value/s in REG_CITY_NOT_LIVE_CITY = 0
Missing value/s in REG_CITY_NOT_WORK_CITY = 0
Missing value/s in LIVE_CITY_NOT_WORK_CITY = 0
Missing value/s in ORGANIZATION_TYPE = 0
Missing value/s in EXT_SOURCE_1 = 28172
Missing value/s in EXT_SOURCE_2 = 126
Missing value/s in EXT_SOURCE_3 = 9944
Missing value/s in APARTMENTS_AVG = 25385
Missing value/s in BASEMENTAREA_AVG = 29199
Missing value/s in YEARS_BEGINEXPLUATATION_AVG = 24394
Missing value/s in YEARS_BUILD_AVG = 33239
Missing value/s in COMMONAREA_AVG = 34960
Missing value/s in ELEVATORS_AVG = 26651
Missing value/s in ENTRANCES_AVG = 25195
Missing value/s in FLOORSMAX_AVG = 24875
Missing value/s in FLOORSMIN_AVG = 33894
Missing value/s in LANDAREA_AVG = 29721
Missing value/s in LIVINGAPARTMENTS_AVG = 34226
Missing value/s in LIVINGAREA_AVG = 25137
Missing value/s in NONLIVINGAPARTMENTS_AVG = 34714
Missing value/s in NONLIVINGAREA_AVG = 27572
Missing value/s in APARTMENTS_MODE = 25385
Missing value/s in BASEMENTAREA_MODE = 29199
Missing value/s in YEARS_BEGINEXPLUATATION_MODE = 24394
Missing value/s in YEARS_BUILD_MODE = 33239
Missing value/s in COMMONAREA_MODE = 34960
Missing value/s in ELEVATORS_MODE = 26651
Missing value/s in ENTRANCES_MODE = 25195
Missing value/s in FLOORSMAX_MODE = 24875
Missing value/s in FLOORSMIN_MODE = 33894
Missing value/s in LANDAREA_MODE = 29721
Missing value/s in LIVINGAPARTMENTS_MODE = 34226
Missing value/s in LIVINGAREA_MODE = 25137
Missing value/s in NONLIVINGAPARTMENTS_MODE = 34714
Missing value/s in NONLIVINGAREA_MODE = 27572
Missing value/s in APARTMENTS_MEDI = 25385
Missing value/s in BASEMENTAREA_MEDI = 29199
Missing value/s in YEARS_BEGINEXPLUATATION_MEDI = 24394
Missing value/s in YEARS_BUILD_MEDI = 33239
Missing value/s in COMMONAREA_MEDI = 34960
Missing value/s in ELEVATORS_MEDI = 26651
Missing value/s in ENTRANCES_MEDI = 25195
Missing value/s in FLOORSMAX_MEDI = 24875
Missing value/s in FLOORSMIN_MEDI = 33894
Missing value/s in LANDAREA_MEDI = 29721
Missing value/s in LIVINGAPARTMENTS_MEDI = 34226
Missing value/s in LIVINGAREA_MEDI = 25137
Missing value/s in NONLIVINGAPARTMENTS_MEDI = 34714
Missing value/s in NONLIVINGAREA_MEDI = 27572
Missing value/s in FONDKAPREMONT_MODE = 34191
Missing value/s in HOUSETYPE_MODE = 25075
Missing value/s in TOTALAREA_MODE = 24148
Missing value/s in WALLSMATERIAL_MODE = 25459
Missing value/s in EMERGENCYSTATE_MODE = 23698
Missing value/s in OBS_30_CNT_SOCIAL_CIRCLE = 168
Missing value/s in DEF_30_CNT_SOCIAL_CIRCLE = 168
Missing value/s in OBS_60_CNT_SOCIAL_CIRCLE = 168
Missing value/s in DEF_60_CNT_SOCIAL_CIRCLE = 168
Missing value/s in DAYS_LAST_PHONE_CHANGE = 1
Missing value/s in FLAG_DOCUMENT_2 = 0
Missing value/s in FLAG_DOCUMENT_3 = 0
Missing value/s in FLAG_DOCUMENT_4 = 0
Missing value/s in FLAG_DOCUMENT_5 = 0
Missing value/s in FLAG_DOCUMENT_6 = 0
Missing value/s in FLAG_DOCUMENT_7 = 0
Missing value/s in FLAG_DOCUMENT_8 = 0
Missing value/s in FLAG_DOCUMENT_9 = 0
Missing value/s in FLAG_DOCUMENT_10 = 0
Missing value/s in FLAG_DOCUMENT_11 = 0
Missing value/s in FLAG_DOCUMENT_12 = 0
Missing value/s in FLAG_DOCUMENT_13 = 0
Missing value/s in FLAG_DOCUMENT_14 = 0
Missing value/s in FLAG_DOCUMENT_15 = 0
Missing value/s in FLAG_DOCUMENT_16 = 0
Missing value/s in FLAG_DOCUMENT_17 = 0
Missing value/s in FLAG_DOCUMENT_18 = 0
Missing value/s in FLAG_DOCUMENT_19 = 0
Missing value/s in FLAG_DOCUMENT_20 = 0
Missing value/s in FLAG_DOCUMENT_21 = 0
Missing value/s in AMT_REQ_CREDIT_BUREAU_HOUR = 6734
Missing value/s in AMT_REQ_CREDIT_BUREAU_DAY = 6734
Missing value/s in AMT_REQ_CREDIT_BUREAU_WEEK = 6734
Missing value/s in AMT_REQ_CREDIT_BUREAU_MON = 6734
Missing value/s in AMT_REQ_CREDIT_BUREAU_QRT = 6734
Missing value/s in AMT_REQ_CREDIT_BUREAU_YEAR = 6734

##### What did you know about your datasets?